USE [master]
GO
/****** Object:  Database [ABSTRACT]    Script Date: 21/02/2022 6:35:53 p. m. ******/
CREATE DATABASE [ABSTRACT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REGISTRO_ABSTRACT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\REGISTRO_ABSTRACT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REGISTRO_ABSTRACT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\REGISTRO_ABSTRACT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ABSTRACT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ABSTRACT]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 21/02/2022 6:35:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[NAME] [varchar](max) NOT NULL,
	[DNI_TYPE] [varchar](max) NOT NULL,
	[DNI] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTA]    Script Date: 21/02/2022 6:35:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HASH] [int] NOT NULL,
	[FECHA] [varchar](max) NOT NULL,
	[HORA] [varchar](max) NOT NULL,
	[DNI] [varchar](max) NULL,
	[REFERENCIA] [varchar](max) NOT NULL,
	[PRECIO_U] [varchar](max) NOT NULL,
	[CANTIDAD] [varchar](max) NOT NULL,
	[SUBTOTAL] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CONSULTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 21/02/2022 6:35:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER] [varchar](max) NOT NULL,
	[PASSWORD] [varchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 21/02/2022 6:35:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PRODUCTO] [nvarchar](max) NOT NULL,
	[REFERENCIA] [nvarchar](max) NOT NULL,
	[PRECIO] [int] NOT NULL,
	[CATEGORIA] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECORDAR]    Script Date: 21/02/2022 6:35:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECORDAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REGISTRO] [varchar](max) NOT NULL,
	[USER] [varchar](max) NULL,
	[PASSWORD] [varchar](max) NULL,
	[ONECERO] [int] NULL,
 CONSTRAINT [PK_RECORDAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
